.details-container {
    width: 100%;
    margin: 2% auto;

}

.profile {
    background-color: rgb(129, 111, 66);
    padding: 5px;
    color: white;
    font-family: cursive;

    margin: 0;
}

.profile-details {
    display: grid;
    grid-template-columns: 30% 70%;

}

.profileImage {
    border: 5px solid white;
    width: 80%;
    height: 300px;
    margin: 10px auto;
    box-shadow: 1px 1px 1px 1px rgb(226, 178, 178);
}

.profileImage img {
    height: 100%;
    width: 100%;
}