.secondDashInner1 {
    display: grid;
    width: 100%;
    height: 100px;

}





@media screen and (min-width:480px) {
    .firstDashInner {
        display: grid;
        width: 100%;
        grid-template-columns: 25% 75%;
    }

    .dashboardFirst {
        width: 80%;
    }
}