* {
    box-sizing: border-box;

}

@media screen and (min-width:560px) {


    .addForm {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }



    /* .addForm div {
    width: 49%;
    padding: 5px;
} */

    .labelName {
        font-size: 16px;
    }

    .labelInput {
        height: '20px'
    }

    .formLeft {
        margin: 1px;
        border-right: 1px solid black;
    }

    .formRight {
        border-left: 1px solid black;
        margin: 2px;
        padding: 5px;
    }

    .formLevelInputCont {
        display: inline;
    }

}




@media screen and (Max-width:560px) {
    .addForm {
        width: 99%;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
    }

    .formHeader {
        text-align: center;
        color: orange;
        font-family: cursive;
        font-weight: bold;
        font-size: 26px;
        font-weight: bold;
        text-transform: capitalize;
        text-decoration: underline;
    }

    .labelName {
        font-size: 22px;
        display: block;
        font-family: cursive;
        font-weight: bold;
        padding-bottom: 5px;
        margin-bottom: 5px;

    }

    .labelInput {
        height: 50px;
        width: 100%;
        padding-top: 5px;
        margin-bottom: 1%;
    }

    .formLevelInputCont {
        width: 100%;


    }

    .formLeft {

        margin: 0;
    }

    .inputGroup {
        flex-direction: column;
    }

    .inputGroup div input {
        width: 100%;
        height: 50px;
    }

    .clgGroup {
        flex-direction: column;
    }

    .clgGroup div input {

        width: 100%;
        height: 51px;
        margin-bottom: 4px;
        padding-bottom: 4px;
        margin-top: 7px;
    }

    button {
        width: 50%;
    }

}