.css-i9fmh8-MuiBackdrop-root-MuiModal-backdrop {
    background-color: rgba(255, 255, 255, 0.1) !important;

}


.teacherfeeshowcls {
    padding: 2px;
}

.teacherfeeshowcls label {
    display: block;
    font-size: 18px;
    font-weight: bold;
    font-family: cursive;
}

.teacherfeeshowcls input {
    width: 90%;
    height: 40px;
    margin-top: 5px;
    font-family: cursive;
    font-weight: 800;
    border-radius: 5px;
}

.teacherfeeshowcls button {
    width: 90%;
    margin-top: 5px;
    font-family: cursive;
    height: 35px;
    background-color: #002B5B;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}