.data-sheet-head {
    display: grid;
    grid-template-columns: 20% 35% 15% 15% 15%;
    width: 90%;
    margin: 2px auto;
    background-color: #002B5B;
}

.data-sheet-head p {
    margin: 0;
    text-align: center;
    width: 100%;
    border: 1px solid;
    color: white;
    padding: 5px;
    font-size: 15px;
    font-family: cursive;
    font-weight: bold;
}

.data-sheet-data {
    display: grid;
    grid-template-columns: 20% 35% 15% 15% 15%;
    width: 90%;
    margin: 2px auto;
    background-color: #FAEBD7;
}

.data-sheet-data p {
    margin: 0;
    text-align: center;
    width: 100%;
    padding: 3px;
    font-size: 13px;
    font-family: cursive;
    font-weight: bold;
}

.dchead {
    display: flex;
    justify-content: space-around;
    margin-top: 3%;
    align-items: center;
}

.dchead div {
    border: 1px solid black;
    width: 240px;
    border-radius: 5px;
    font-family: cursive;
    font-weight: bold;
    background-color: #002B5B;
    color: white;
    padding: 3px;
}