.profit-calculate-sec {
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
}

.profit-calculate-sec-part {
    text-align: center;
    width: 30%;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px black;
    background-color: #1B6B93;
    color: white;
    font-family: cursive;
}

.earning-teacher-payment {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 15px;

}

.earning-teacher-payment-part {
    border-radius: 5px;
    padding: 5px;
    font-size: 15px;
    box-shadow: 1px 1px 1px 1px black;
    font-family: cursive;
    font-weight: bold;
    background-color: #64CCC5;

}

.earning-founding-person {
    display: flex;
    justify-content: space-around;
}

.earing-founding-person-part {

    width: 30%;
    border-radius: 5px;
    padding-left: 2%;
    box-shadow: 1px 1px 10px 1px black;
}