.teacherfeesec {
    width: 100%;
    background-color: #002B5B;
    padding: 5px;
    margin-top: 2%;
    display: grid;
    grid-template-columns: 21% 12% 10% 8% 15% 8% 8% 7% 7% 4%;
}

.teacherfeesec div {

    padding: 5px;
}

.teacherfeesec div p {
    margin: 0;
    font-size: 13px;
    font-family: cursive;
    font-weight: bold;
    color: white;
    text-align: center;
}

.teacherfeesecdata {
    width: 100%;
    background-color: #FAEBD7;

    padding: 5px;
    border-top: 1px solid rgb(107, 25, 25);
    display: grid;
    grid-template-columns: 21% 12% 10% 8% 15% 8% 8% 7% 7% 4%;
}

.teacherfeesecdata div {

    padding: 5px;
}

.teacherfeesecdata div p {
    margin: 0;
    font-size: 13px;
    font-family: cursive;
    font-weight: bold;
    color: black;
    text-align: center;
}

.profit-calculate-sec-part {
    text-align: center;
    width: 30%;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px black;
    background-color: #1B6B93;
    color: white;
    font-family: cursive;
}

.earning-teacher-payment {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 15px;

}

.earning-teacher-payment-part {
    border-radius: 5px;
    padding: 5px;
    font-size: 15px;
    box-shadow: 1px 1px 1px 1px black;
    font-family: cursive;
    font-weight: bold;
    background-color: #64CCC5;

}

.earning-founding-person {
    display: flex;
    justify-content: space-around;
}

.earing-founding-person-part {

    width: 30%;
    border-radius: 5px;
    padding-left: 2%;
    box-shadow: 1px 1px 10px 1px black;
}