.author-detail {
    display: grid;
    grid-template-columns: 20% 38% 33% 8%;
    grid-gap: 2px;
    box-shadow: 1px 1px 8px 1px rgb(212, 136, 136);
    margin-top: 2%;
}


.author-detail div {
    padding: 5px 0;
}

.author-detail p {
    margin: 0;
    margin-left: 8px;
}